.new_item_form {
    background-color: #cbd2d4;
    padding-top: 100px;
    margin: 0px auto;
    width: 300px;
    height: 400px;
}

body {
    background-color: rgb(180, 181, 190);
}

.new_item_form form div input {
    padding: 5px;
}

header::after {
    content: "";
    display: block;
}

header {
    background-color: #3b4e64d7;
    overflow: hidden;
}

header h1 {
    float: right;
}